.section {
	width: 100%;

	span {
		text-wrap: wrap;
		// word-break: break-all;
	}
	:global(.added) {
		background-color: red !important;
		// color: red !important;
	}
}
.error {
	background-color: red !important;
	color: red !important;
}
